*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

body{
    font-family: "Inter", sans-serif;
    -webkit-font-smoothing: antialiased;
}

/* common styles start */
.container{
    max-width:1200px;
    margin: auto;
}

img {
    max-width: 100%;
}

section {
    padding: 100px 0;
}

.commonHeading p{
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    color: #808080;
    line-height: 24px;
}
.commonHeading h3{
    font-weight: 600;
    font-size: 40px;
    line-height:150%;
}
.commonHeading h3 span.dot{
    display: inline-block;
    width:8px;
    height: 8px;
    background-color: #FD6400;
}

.playVideo p{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height:150%;
}
.playVideo{
    position: absolute;
    left: 40px;
    bottom: 40px;
    display: flex;
    align-items: center;
    gap: 16px;
}
.playButton{
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 48px;
    width: 48px;
    background-color: #FFFFFF;
    border-radius: 24px;
    margin-left: 3px;
}
.playButton img{
    margin-left: 5px;
}

.commonButton button{
    background-color: #FD6400;
    color: #FFFFFF;
    padding: 14px 32px;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
    border: #FD6400;
    margin-top: 35px;
}
.commonButton{
   text-align: center;
}
/* common styles end */
.aboutusContent{
    display: flex;
    gap: 40px;
}
.aboutusList{
    display: flex;
    gap:10px;
    align-items: flex-start;
    margin-top: 37px;
}
.aboutusList p{
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
}
.aboutusList:nth-of-type(2){
    margin-bottom: 20px;
}
.aboutusText {
    width: 51%;
}
.aboutusImage {
    position: relative;
    width:49%;
    margin-top: 42px;
    height: fit-content;
}

/* about us styles end */

/* ------------team styles start----------------- */

.teamDetails{
    display: flex;
    justify-content: space-between;
    gap: 90px;
    flex-wrap: wrap;
    margin-top: 62px;
}
.teamCard {
    width: 340px;
}
.teamPrithviraj{
    background-color: #000000B2;
    border-radius: 10px;
}
.teamDesignation{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.teamDesignation h3{
    font-weight: 500;
    font-size: 22px;
    line-height: 180%;
}
.teamlinkedIn{
    margin-top: 3px;
}
.teamDesignation p{
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #464646;
}
.teamInfo{
    display: none;
}
/* ------------team styles  end----------------- */

/* ----------------join us start----------------- */
.joinusDetails{
    display: flex;
    justify-content: space-between;
    margin-top: 64px;
    /* flex-wrap: wrap; */
    gap: 40px;
}
.joinusInfo{
    text-align: center;
    width: 378px;
    max-width: 100%;
}
.joinusInfo h3{
    font-weight: 600;
    font-size: 22px;
    line-height: 150%;
    margin-top: 32px;
}
.joinusInfo p{
    font-weight: 400;
    font-size: 16px;
    line-height: 180%;
    color: #464646 ;
    margin-top: 10px;
    margin: auto;
}
.joinusInfo:nth-of-type(1) p{
    max-width: 363px;
    margin: auto;
}
.joinusInfo:nth-of-type(2){
    max-width: 368px;
}
.joinusInfo:last-child p{
    max-width: 314px;
}

/* ----------------join us end---------------- */


/* ----------------responsive styles---------------- */
@media  only screen and (max-width:1200px) {
    .container{
        padding: 0 20px;
    }
    .teamDetails{
        justify-content: center;
    }
    .joinusDetails{
        justify-content: space-evenly;
    }
    .joinusDetails{
        flex-wrap: wrap;
    }
}

@media  only screen and (max-width:992px) {
   .aboutusContent {
        flex-wrap: wrap;
        justify-content: center;
    }
    .aboutusText {
        width: 100%;
    } 
}

@media  only screen and (max-width:768px){
    section {
        padding: 64px 0;
    }
  .aboutusImage {
        width: 100%;
    }
    .imageWrapper{
        justify-content: center;
    }
    .aboutusText {  
        width: 100%;
    }
    .commonHeading p{
        font-size: 12px;
    }
    .commonHeading h3{
        font-size: 24px;
    }
    .aboutusList p {
        font-size: 14px;
    }
    .aboutusList{
        gap:12px;
        margin-top: 42px;
    }
    .aboutusList:nth-of-type(2){
        margin-top: 32px;
    }
    .aboutusContent{
        gap: 42px;
    }
    .playVideo p{
        font-size: 14px;
    }
    .playVideo{
        left: 16.04px;
        bottom:16px;
        gap: 11.96px;
    }
    .playButton{ 
        height: 28px;
        width: 28px;
    }
    .playButton img{
        max-width: 6.61px;
        margin-left: 2px;
    }
    .teamInfo{
        display: block;
        margin-top:16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 180%;
    }
    .teamDetails{
        gap:42px;
        margin-top: 42px;
    }
   

    .joinusDetails{
        justify-content: space-evenly;
    }
    .joinusDetails:nth-of-type(1){
        margin-top:2px;
    }
    .joinusInfo p{
        margin-top: 12px;
        max-width: 320px;
        font-size: 14px;
    }
    .commonButton{
        padding: 19.2px 28px;
    }
    .commonHeading{
        text-align: center;
    }
    .joinusInfo h3{
        font-size: 16px;
    }
}

/* -----------responsive styles end---------------- */